@charset "utf-8";

main, header, article, section, footer, div{
    border: 1px solid gray;
    padding: 5px;
}

main{
    width: 80%;
    max-width: 950px;
    margin: auto;
    padding: 10px;
}

header h1, article h2{
    text-align: center;
}

table, td, th{
    border: 1px solid gray;
    border-collapse: collapse;
}

section{
    display: grid;
    grid-template-columns: 50px auto 50px;
}

footer{
    text-align: center;
}

.bgChange {
    background-color: sandybrown;
  }